<div class="card">
    <h1>London Tube</h1>
    <div><a href="/" class="logo">&#x1F687;</a></div>
    {{{slackbtn}}}
    {{#if teams.length}}
    <h2>{{teams.length}} active teams</h2>
    {{else}}
    <h2 class="inactive">No active teams yet</h2>
    {{/if}}
    <div class="description">
        <p>London Underground status information straight from TFL in one command.</p>
        <p>Just <code>/tube</code></p>
    </div>
    <img src="demo.gif"/>
</div>
