<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{title}}</title>
    <meta name="author" content="Hugo Di Francesco - Awebots">
    <meta name="description" content="Choose - reduce your cognitive load by getting helpful suggestions">
    <meta name="keywords" content="mindfulness, cognitive, overload, suggestion, bot">
    <link rel='stylesheet' href='/app.css' />
  </head>
   <link href='https://fonts.googleapis.com/css?family=Montserrat|Roboto:400,400italic' rel='stylesheet' type='text/css'>
 </head>
  <body>
    {{{slackbtn}}}
    {{{body}}}
  </body>
</html>
