<div class="privacy-policy">
    <a href="/">&larr; Back to London Tube</a>
    <h1>Privacy Policy</h1>
    <p>The whole premise of London Tube is not to store user data, and to keep most of the User Experience within Slack. The absolute minimum amount of data is stored for the purpose of interacting with the Slack API. Additionally, this project is open source. For more details check <a href="https://github.com/HugoDF/slashtube/">https://github.com/HugoDF/slashtube/.</a></p>
    <h2>Stored Data</h2>
    <p>Some data is stored by London Tube, so that interaction with the Slack API is possible. This includes the access token, the team name, the team id, the time at which London Tube was added to the team, and the time at which London Tube was last authorized.</p>
    <h2>Explicitly NOT stored data</h2>
    <p>By design, London Tube has very little access to your team's data: London Tube cannot view a lot of information about your team, it cannot view any activities in any of the channels and it also does not have access to any of your files. The only data it can access is the data that you are sending via the slash command (/tube "Station Name" or "Line Name"). In this example London Tube will receive the text of the slash command, namely '"Station Name"' or '"Line Name"'. This data which you pass to London Tube is not stored in ANY way! It is processed "on-the-fly" and then returned to you.</p>
    <h2>Analytics</h2>
    <p>London Tube uses analytics tools such as Google Analytics and New Relic to monitor performance and to improve the user experience. Collected statistics are, for example, in the form of frequency of invocation of the /poll slash command over time and NEVER include any of the data you send to us, as this data is not stored (see above).</p>
    <h2>Third Party Services</h2>
    <p>London Tube is run on AWS. Please refer to the AWS Privacy Policy for more details: <a href="https://aws.amazon.com/privacy/">https://aws.amazon.com/privacy/</a></p>
    <p>London Tube uses Cloudflare for some security features and threat prevention. Please refer to the Cloudflare Privacy Policy for more details: <a href="https://www.cloudflare.com/security-policy/">https://www.cloudflare.com/security-policy/</a></p>
    <h2>Advertising</h2>
    <p>London Tube does not display any advertisements, and does not share any of the data it has with advertisers.</p>
    <h2>Policy</h2>
    <p>This privacy policy may change over time.</p>
</div>
