<div class="privacy-policy" style="min-height: 600px;">
    <a href="/">&larr; Back to London Tube</a>
    <h1 style="margin-top: 100px;">Support</h1>
    <p>You can contact me at <a href="mailto:hugo@awebots.com">hugo@awebots.com</a> with any issues you have with London Tube.</p>
    <h1 style="margin-top: 100px">FAQs</h1>
    <p>London Tube is quite simple so no questions yet. They will appear here when they get asked :)</p>
</div>
